*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero{
    background-image: linear-gradient(#c847f1,#380231);
}
.top-bar{
    padding: 20px;
}
.top-bar img{
    width: 110px;
}
.top-button{
  float: right;
}
.top-button a{
    margin: 0 8px;
    padding: 8px 20px;
    border-radius: 50px;
    background: #fff;
    color: #333;
    text-decoration: none !important;
    border: 2px solid #fff;
}
.login-btn{
    background: transparent !important;
    color: #fff !important;
}
.top-button a:hover{
    background: #fff !important;
    color: #333 !important;
} 
.hero h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 12%;
    letter-spacing: 3px;
}
.hero p{
    color: #fff;
}
.hero .container{
    margin-top: 10%;
}
.start-btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    width: 140px;
    height: 40px;
    margin-top: 30px;
    border-radius: 50px;
}
.home-img img{
    width: 90%;
    min-width: 350px;
    margin-top: 10%;
}
.influencres{
    padding: 30px 0;
    background: #efefef;
}

.influencres h1{
    margin: 60px 0;
    color: #555;
}
.parson-img{
    height: 400px;
}
.parson-img img{
    width: 100%;
    height: 100%;
}
.profile{
    padding: 30px 0;
    background-image: linear-gradient(#c847f1,#380231);
}
.profile-card{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 40px 0 rgba(17, 39, 125, 0.18);
    margin-bottom: -360px !important;
    margin-top: 210px;
}
.profile-details{
    padding: 40px;
}
.profile-details h2{
    color: #c200ff;
    margin-bottom: 35px;
}
.followers span{
    display: inline-block;
    color: #c200ff;
    margin: 35px 20px 35px 0;
}
.profile-details h5,p{
    color: #555;
}
.btn-follow{
    background: #c200ff;
    border: none;
    color: #fff;
    width: 130px;
    height: 40px;
    margin-top: 54px;
    border-radius: 14px;
    border-radius: 50px;
}
.profile-img{
    text-align: center;
}
.profile-img img {
    width: 87%;
    min-width: 350px;
    margin-top: 197px;
}
.footer{
    padding: 50px 0 20px;
    background-image: linear-gradient(#c847f1,#380231);
    margin-top: 450px;
}
.store-icon img{
    width: 150px;
    margin: 0 10px 50px;
}
.footer-menu a{
    display: inline-block;
    width: 120px;
    color: #fff;
    text-decoration: none !important;
    margin-bottom: 20px;
}
.footer p{
    color: #fff;
    font-size: 14px;
}